.scaler{
    margin: 10px;
    border: 10px;
    padding-left: 50px;
}
.nav{
    display: flex;
    justify-content: left;
    width: 100vb;
    height: 30px;
}
#socials{
    margin: 0px;
    border: 0px;
    padding-right: 50px;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.container3{
   display: flex;
   width: 1280px;
   height: 600px;
   margin: 10px;
   justify-content:flex-start;
   align-items: center;
   padding-left: 50px;
}
.container4{
    width: 1560px;
    height: 4px;
    background-color: blue;
    transition: ease-in-out;
    
}

#textbox{
    display: flex;
    height: 250px;
    width: 400px;
    justify-content: center;
}
#postBox:hover{
    display: flex;
    color: white;
    justify-content: center;
    transition:ease-in-out;
    background-color: blue;
}
#img1:hover{
    background-color:red;
}
#img2:hover{
    background-color:red;
}

@media only screen and (max-width: 600px) {
    .scaler{
        margin: 10px;
        border: 10px;
        padding-left: 50px;
    }
    
    .nav{
        width: 100vw;
    }
    
    #socials{
        padding-right: 50px;
    }
    
    .container3{
        width: 100%;
        max-width: 1024px;
    }
    
    .container4{
        width: 100%;
        max-width: 1280px;
    }
    
    #textbox{
        width: 400px;
    }
}

@media only screen and (max-width: 1024px) {
    .scaler{
        margin: 5px;
        border: 5px;
        padding-left: 10px;
    }

    .nav, #socials {
        justify-content: center;
    }

    #socials {
        padding-right: 10px;
    }

    .container3{
        padding-left: 10px;
    }

    #textbox{
        width: 100%;
        padding: 10px;
    }
}
